.ABOUT-ME {
    display: flex;
    padding: 0 125px;
    margin: 0 auto;
    width: 100%;
    max-width: 1757px;
    flex-direction: column;
}

.conteiner-about {
    margin-top: 200px;
    max-width: 1543.25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.conteiner1-about{
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 30px;
}
.conteiner2-about{
    display: flex;
    width: 100%;
    justify-content: space-around;
    
}
.conteiner3-about{
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.box-about-text1 {
    max-width: 794.25px;
    height: 530px;
}

.box-about-img1 {

    max-width: 746px;
    height: 531px;
}
.box-about-img2 {

    max-width: 811px;
    height: 531px;
}

.box-about-img2 > img {
    height: 531px;
    width: 692px;
}
.titulo-about {
    display: flex;
    align-items: center;
    margin-bottom: 76px;
}

.box-about-text1 > .titulo-about > h2 {
    font-family: var(--font-Terciaria);
    color: var(--color-white);
    padding-right: 38px;
    font-size: 64px;
    font-weight: 400;
    line-height: 64px;
    letter-spacing: 0em;
    text-align: left;
}

.box-about-text1 > .titulo-about > img {
    max-width: 266.74px;
    height: 29.45px;    
}

.paragraph-about1 {
    max-width: 665px;
    height: 324px;
}
.paragraph-about1 > p {
    font-family: 'Gotham-Black';
    color: var(--color-white);
    font-size: 36px;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: -0.05em;
    text-align: left;
}

.paragraph-about1 > p > span {
    background: linear-gradient(to right, #FA709A, #FEE140);
    -webkit-background-clip: text;
    color: transparent;
}

.paragraph-about2 {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 746px;
    height: 530px;
}

.paragraph-about2 > p {
    max-width: 665px;
    font-family: 'Gotham-Black';
    color: var(--color-white);
    font-size: 36px;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: -0.05em;
    text-align: left;
}

.paragraph-about2 > p > span {
    background: linear-gradient(to right, #84FAB0, #8FD3F4);
    -webkit-background-clip: text;
    color: transparent;
}


.box-about-text3 > .titulo-about > h2 {
    font-family: var(--font-Terciaria);
    color: var(--color-white);
    padding-right: 38px;
    font-size: 64px;
    font-weight: 400;
    line-height: 64px;
    letter-spacing: 0em;
    text-align: left;
}

.box-about-text3 > .titulo-about > img {
    max-width: 266.74px;
    height: 29.45px;    
}

.paragraph-about3 {
    max-width: 794px;
    height: 530px;
    display: flex;
    align-items: center;
}
.paragraph-about3 > p {
    max-width: 646px;
    font-family: 'Gotham-Black';
    color: var(--color-white);
    font-size: 36px;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: -0.05em;
    text-align: left;
}

.box-about-img3{
    margin-bottom: 125px;
    max-width: 754px;

}

.span1 {
    background: linear-gradient(to right, #84FAB0, #E0C3FC );
    -webkit-background-clip: text;
    color: transparent;
}

.span3 {
    background: linear-gradient(to right, #30e000 23%, #f5ff38 12% 60%, #0062ff 60%);
    -webkit-background-clip: text;
    color: transparent;  
}

@media (max-width: 1720px) {

    .box-about-text1 > .titulo-about > img {
        max-width: 110.74000000000001px;
        height: 29.45px;
    }

    .conteiner1-about {
        display: flex;
        width: 100%;
        justify-content: center;
        gap: 86px;
    }
    .conteiner2-about{
        display: flex;
        width: 100%;
        justify-content: space-between;
        
    }
    .conteiner3-about{
        display: flex;
        width: 100%;
        justify-content: space-between;
    }
    .conteiner1-about {
        display: flex;
        width: 100%;
        justify-content: center;
        gap: 100px;
    }

    .paragraph-about1 {
        max-width: 372px;
        height: 336px;
    }
    .paragraph-about1 > p {
        font-family: 'Gotham-Black';
        color: var(--color-white);
        font-size: 28px;
        font-weight: 700;
        line-height: 28px;
        letter-spacing: -0.05em;
        text-align: left;
    }
    
    .box-about-img1 {
        width: 444.2px;
        height: 530px;
    }
    
    .box-about-img1 > img {
        width: 444px;
        height: 530px;
        object-fit: cover;
    }    

    .conteiner2-about {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
        gap: 100px;
    }

    .box-about-img2 {
        width: 450px;
        height: 467px;
    }

    .box-about-img2 > img {
        width: 475px;
        height: 467px;
        object-fit: cover;
    }

    .paragraph-about2 {
        max-width: 372px;
        height: 196px;
    }
    .paragraph-about2 > p {
        font-family: 'Gotham-Black';
        color: var(--color-white);
        font-size: 28px;
        font-weight: 700;
        line-height: 28px;
        letter-spacing: -0.05em;
        text-align: right;
    }

    .conteiner3-about {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
        gap: 80px;
    }

    .paragraph-about3 {
        max-width: 372px;
        height: 224px;  
    }

    .paragraph-about3 > p {
        font-family: 'Gotham-Black';
        color: var(--color-white);
        font-size: 28px;
        font-weight: 700;
        line-height: 28px;
        letter-spacing: -0.05em;
        text-align: left;
    }
    
    .box-about-img3 {
        width: 419px;
        height: 422px;
    }

    .box-about-img3 > img{
        width: 445px;
        height: 467px;
        object-fit: cover;
    }
}

@media (max-width: 1150px) {

    .box-about-img1 {
    display: flex;
    width: 350px;
    height: 530px;
    justify-content: flex-end;
    }

    .conteiner2-about {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }
    
    .box-about-img1 > img {
        display: flex;
        width: 350px;
        height: 530px;
        object-fit: cover;
    }

    .conteiner1-about {
        display: flex;
        width: 100%;
        justify-content: space-between;
        gap: 20px;
    }

    .box-about-text1 > .titulo-about > h2 {
        font-family: var(--font-Terciaria);
        color: var(--color-white);
        padding-right: 38px;
        font-size: 50px;
        font-weight: 400;
        line-height: 64px;
        letter-spacing: 0em;
        text-align: left;
    }
    
    .box-about-img2 > img {
        width: 369px;
        height: 467px;
        object-fit: cover;
    }
    .paragraph-about1 {
        max-width: 352px;
        height: 336px;
    }
    .paragraph-about2 > p {
        font-family: 'Gotham-Black';
        color: var(--color-white);
        font-size: 28px;
        font-weight: 700;
        line-height: 28px;
        letter-spacing: -0.05em;
        text-align: right;
    }	
    
    .conteiner3-about {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
    }


    .box-about-img3 {
        width: 346px;
        display: flex;
        height: 422px;
        justify-content: space-between;
    }
    
    .box-about-img3 > img {
        display: flex;
        width: 100%;
        height: 530px;
        object-fit: cover;
    }

}


@media (max-width: 995px) {


   .ABOUT-ME {
    display: flex;
    flex-direction: column;
    padding: 0 22px;
    margin: 0 auto;
    width: 100%;
    max-width: 1757px;
    align-items: center;
    justify-content: center;
    }

    .conteiner-about {
        margin-top: 100px;
        max-width: 1543.25px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;

    }

    .conteiner1-about {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        gap: 0px;
    }
    
    .box-about-text1 {
        max-width: 794.25px;
        height: 391px;
    }
    

    .titulo-about {
        display: flex;
        align-items: center;
        margin-bottom: 50px;
    }

    .box-about-text1 > .titulo-about > h2 {
        font-family: var(--font-Terciaria);
        color: var(--color-white);
        padding-right: 38px;
        font-size: 60px;
        font-weight: 400;
        line-height: 64px;
        letter-spacing: 0em;
        text-align: left;
    }

    .box-about-text1 > .titulo-about > img {
        max-width: 110.74000000000001px;
        height: 29.45px;
        display: none;
    }

    .paragraph-about1 {
        max-width: 352px;
        height: 336px;
    }

    .paragraph-about1 > p {
        font-family: 'Gotham-Black';
        color: var(--color-white);
        font-size: 21px;
        font-weight: 700;
        line-height: 22px;
        letter-spacing: -0.05em;
        text-align: left;
    }

    .box-about-img1 {
        display: flex;
        margin: 0 auto;
        max-width: 375px;
        width: 100%;
        height: 471px;
        justify-content: center;
    }


    .box-about-img1 > img {
        display: flex;
        max-width: 375px;
        height: 448px;
        object-fit: cover;
        width: 100%;
    }

    .conteiner2-about {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
        gap: 20px;
        flex-direction: column-reverse;
    }

    .box-about-img2 {
        display: flex;
        max-width: 375px;
        height: 467px;
        justify-content: center;
        width: 100%;
    }

    .box-about-img2 > img {
        max-width: 375px;
        height: 467px;
        object-fit: cover;
        width: 100%;
    }

    .paragraph-about2 > p {
        font-family: 'Gotham-Black';
        color: var(--color-white);
        font-size: 22px;
        font-weight: 700;
        line-height: 22px;
        letter-spacing: -0.05em;
        text-align: left;
    }

    .conteiner3-about {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        gap: 29px;
        flex-direction: column;
    }

    .paragraph-about3 > p {
        font-family: 'Gotham-Black';
        color: var(--color-white);
        font-size: 22px;
        font-weight: 700;
        line-height: 28px;
        letter-spacing: -0.05em;
        text-align: left;
    }
    
    .paragraph-about3 {
        max-width: 370px;
        height: 224px;
        padding-top: 18px;
    }

    .box-about-img3 {
        display: flex;
        max-width: 375px;
        height: 398px;
        justify-content: center;
        width: 100%;
    }

    
    .box-about-img3 > img {
        max-width: 375px;
        height: 467px;
        object-fit: cover;
        width: 100%;
    }   
}

