
.header-desktop {
    width: 100%;
    max-width: 1709px;
    margin: 0px auto;
    padding: 50px 100px 30px 100px; 
    display: flex;
    color: var(--color-white);
    justify-content: space-between;
    align-items: center;
}
.header-mobile{
    display: none;
}

.logo-top {
    display: flex;
    align-items: center;
    color: var(--color-white);
    gap: 5px;
    
}

.logo-top > img {
    width: 27px;
    height: 27px;
    color: black;
}

.logo-top > h1 {

    font-family: var(--font-Principal);
    font-size: 20px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
}

.navbar {
    display: flex;
    gap: 30px;
}

.navbar > a {
    text-decoration: none;
    color: var(--color-white);
    font-size: 40px;
    font-family: var(--font-Secundaria);
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.05em;
    text-align: left;
}

.navbar > a:hover {
    color: aquamarine;
}

.bt-header-desktop{
    display: flex;
    align-items: center;
    gap: 20px;
}

.bt-header-desktop > a {
    font-family: var(--font-Secundaria);
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: -0.05em;
    text-align: left;
    text-decoration: none;
    color: white;
    background-color: var(--color-Destaque);
    border-radius: 4px;
    padding: 12px 24px;
}

.checkbox {
    opacity: 0;
    position: absolute;
  }
  
  .label {
      background-color:var(--color-BtChanceBg);
      border-radius: 50px;
      cursor: pointer;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 5px;
      position: relative;
      height: 26px;
      width: 52px;
      transform: scale(1.2);
      
    }
    
    .label .ball {
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    height: 22px;
    width: 22px;
    transform: translateX(0px);
    transition: transform 0.2s linear;
}


  .checkbox:checked + .label .ball {
    transform: translateX(26px);
  }
  
  .fa-moon {
    color: #f1c40f;
  }
  
  .fa-sun {
    color: #f39c12;
  }

@media (max-width: 900px) {

    .header-desktop {
        display: none;
    }

    
.logo-top {
    display: flex;
    align-items: center;
    color: var(--color-white);
    gap: 5px;
    padding-left: 20px;
    
}
.logo-top > h1 {
    display: flex;
    align-items: center;
    color: white;
    gap: 5px;
    padding-left: 20px;
    
}
    .conteiner-hamburger {
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 100px;
    }

    .header-mobile {
        display: flex;
        flex-direction: column;
        width: 100% ;
        height: 100%;
        background-color: var(--color-Mainlight);
        justify-content: space-between;
    }
    
    .navbar-mobile {
        display: none;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
        padding-bottom: 20px;
        margin-top: 100px;
    }

    .conteiner-menu {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .conteiner-menu > a {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        color: white;
        text-decoration: none;
        text-align: left;
        width: 214px;
        font-size: 22px;
        align-items: flex-end;
        padding-right: 25px;
    }



    .header-mobile {
        position: relative; 
    }
    
    .menu-responsivo {
        display: flex;
        width: 40px;
        height: 40px;
        background-image: url(../img/header/menu.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 36px;
        position: absolute;
        top: 27px;
        right: 20px;
        cursor: pointer;
        z-index: 1000;
    }
    
    .navbar-mobile {
        display: none;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
        padding-bottom: 20px;
        position: absolute; 
        top: 0; 
        right: 0; 
        background-color: var(--color-Mainlight); 
        width: 100%; 
    }

    .change-mode {
        height: 22px;
        width: 79px;
        padding: 5px 0;
    }
}
