@import url('https://fonts.googleapis.com/css2?family=Anton&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url(css/header.css); @import url(css/product.css);
@import url(css/rates.css); @import url(css/portfolio.css); 
@import url(css/skills.css); @import url(css/testimony.css);
@import url(css/about-me.css); @import url(css/footer.css);

@font-face {
    font-family: 'Gotham' ;
    src: url(fonts/Gotham-Font/GothamBook.ttf);
}
@font-face {
    font-family: 'Gotham-Black' ;
    src: url(fonts/Gotham-Font/Gotham-Black.otf);
}

:root {
    --color-Main: #000000;
    --color-Mainlight: #292929;
    --color-Mainlightbd: #646464;
    --color-Destaque: #925FF0;
    --color-Destaque2: #E9DFFC;
    --color-Destaque3: #784DC7;
    --color-Rates: #C8FEC7;
    --color-Ratesbg: #0B0B0B;
    --color-Bg: #000000;
    --color-BtChanceBg: #FFEC70;
    --color-white: #ffffff;
    --color-Gradiente: #FA709A e #FEE140;
    --font-Principal:  'Poppins', sans-serif;
    --font-Secundaria: 'Gotham';
    --font-Terciaria: 'Anton', sans-serif;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.body {


    --color-Main: #000000;
    --color-Bg: #000000;
    --color-white: #ffffff;
    --color-border: #E6E6E6;
    --color-BtChanceBg: #FFEC70;
    --color-Destaque: #925FF0;
    --color-Ratesbg: #0B0B0B;
    --color-Rates: #C8FEC7;
    background-color: var(--color-Bg);
    transition: 0.5s;
}

.body.dark {

    
    --color-Main: #fff;
    --color-Mainlight: #292929;
    --color-Rates: #64C661;
    --color-Ratesbg: #F6FFF6;
    --color-Bg: #fff;
    --color-white: #292929;
    --color-Mainlightbd: #000000;
    --color-BtChanceBg: #051724;
    --color-Destaque: #292929;



    
}